@page
@model RegisterModel
@{
    Layout = "/Views/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "Register";
}



<section class="form-wrapper">
    <div class="container">
        <div class="card">
            <div class="row g-0">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
                                <h4>Create a new account.</h4>
                                <hr />
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Input.FirstName"></label>
                                    <input asp-for="Input.FirstName" class="form-control" />
                                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.LastName"></label>
                                    <input asp-for="Input.LastName" class="form-control" />
                                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.CompanyName"></label>
                                    <input asp-for="Input.CompanyName" class="form-control" />
                                    <span asp-validation-for="Input.CompanyName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.CompanyDescription"></label>
                                    <input asp-for="Input.CompanyDescription" class="form-control" />
                                    <span asp-validation-for="Input.CompanyDescription" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.Email"></label>
                                    <input asp-for="Input.Email" class="form-control" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.Password"></label>
                                    <input asp-for="Input.Password" class="form-control" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.ConfirmPassword"></label>
                                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Project Image</label>
                                    <input asp-for="Input.Image" class="form-control" type="file" accept=".png,.jpg,.jpeg,.gif"
                                           onchange="document.getElementById('imageFileData').src = window.URL.createObjectURL(this.files[0])" />
                                    <span asp-validation-for="Input.Image" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label>Image Preview</label>
                                    @if (Model.Input?.ImageData != null)
                                    {
                                        <img id="imageFileData" class="img-fluid img-thumbnail" style="width:100px; height:80px" src="data:image/*;base64,@( Convert.ToBase64String(Model.Input.ImageData)) ">
                                    }
                                    else
                                    {
                                        <img id="imageFileData" class="img-fluid img-thumbnail" style="width:100px;height:80px" src="">
                                    }
                                </div>
                                
                                <button type="submit" class="btn btn-primary">Register</button>
                            </form>
                        </div>
                        
                    </div></div></div></div></div></section>


                    @section Scripts {
                        <partial name="_ValidationScriptsPartial" />
                    }
